/* home page banner */
.home_banner
{
    background: linear-gradient(to right, #000000 14%, #003399 99%);
    width: 100%;
    min-height: 543px;
    position: relative;
    /*display: block;*/
    /*display: block;*/

}
.home_banner .banner_img
{
    width: 100%;
}
.home_banner .overlay
{
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.6;
    bottom: 0;
    top: 0;
    background: #003466;
}

.section_heading {
    margin-top: 35px;
}

.links{
  background-color: #F8F8F8;
      width: 129%;
      margin-left: -203px;
      height: 180px;
      position: relative;
}
.home_banner .banner_text
{
    position: absolute;
    bottom: 3em;
    color: #FFFFFF;
    font-family: 'Roboto';
}
.home_banner .banner_text .big_text
{
  font-size: 2.5em;
    font-weight: 100;
    width: 413px;
    margin-left: 265px;
    margin-bottom:3px;
}
.small_text{
  font-size: 17px;
word-spacing: 1px;
font-weight: 300;
width: 413px;
margin-left: 262px;
margin-bottom: 149px;
}
.homepage_needs
{
    margin-top: 3em;
    margin-bottom: 3em;
}
.homepage_needs .needs_blocks_wrapper
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.homepage_needs .needs_blocks
{
    padding: 1em;
}
.homepage_needs .needs_blocks_wrapper .block_text_bold
{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    text-align: center;
}
.homepage_needs .needs_blocks_wrapper .block_text
{
    text-align: center;
}
.section_text
{
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}
.bnk_btn
{
    font-weight: 500;
    background-color: #06736F;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}
.section_signup_btn
{
    font-size: 1.2em;
    margin-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
/*homepage popular courses */
.home_popular_courses
{
    padding-top: 3em;
    background-color: #F8F8F8;
}
.home_popular_courses .popular_courses_wrapper
{
    margin-top: 2em;
    margin-bottom: 3em;
}
.home_popular_courses .popular_courses_wrapper .card_item
{
    padding-bottom: 1em;
}
.home_popular_courses .popular_courses_wrapper .card_body
{
    background-color: #fff;
    color: #003567;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2) , 0 1px 1px 0 rgba(0,0,0,.14) , 0 2px 1px -1px rgba(0,0,0,.12);
    overflow: auto;
}
.home_popular_courses .popular_courses_wrapper .popular_card_text
{
    padding: 1em;
    color: #000000;
}
.home_popular_courses .popular_courses_wrapper .card_body .card_tag
{
    color: #06736F;
    font-weight: 600;
}
.home_popular_courses .popular_courses_wrapper .card_body .card_heading
{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 600;
}
.home_popular_courses .popular_courses_wrapper .card_body .card_course_duration
{
    font-size: 0.9em;
    font-weight: 400;
    padding-bottom: 1em;
}
.home_popular_courses .popular_courses_wrapper .card_body .card_course_desc
{
    font-size: 0.9em;
    font-weight: 500;
}
.home_popular_courses .popular_courses_wrapper .card_body .card_course_price
{
    padding-top: 2em;
    font-size: 1.3em;
    font-weight: 500;
}
/* home success section */
.home_success_section
{
    margin-top: 3em;
}
.home_success_section .home_success_wrapper
{
    margin-top: 2em;
    margin-bottom: 3em;
}
.home_success_section .home_success_wrapper .section_video_wrapper
{
    background-color: #000;
}
.home_success_section .home_success_wrapper .bnkn_msg
{
    font-size: 1.2em;
    font-weight: 500;
}

.home_success_section .home_success_wrapper .user_img_collection
{
    margin-top: 5em;
}
.home_success_section .home_success_wrapper .user_img_collection img
{
    border-width: 1px;
    margin-right: -1.5em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 5em;
}
.home_success_section .home_success_wrapper .user_name_collection
{
    margin-top: 1em;
    font-size: 0.9em;
    font-weight: 500;
}
.home_success_section .home_success_wrapper .user_name_collection .bold_number
{
    color: #06736F;
}
/*top exams section*/
.top_exams_section
{
    padding-top: 3em;
    background-color: #F8F8F8;
    padding-bottom: 3em;
}
.top_exams_section .top_exams_wrapper
{
    margin-top: 2em;
    margin-left: 41px;
    margin-bottom: 3em;
}

#parent{

}
.top_exams_section .top_exams_wrapper .card_body
{
  background-color: #fff;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2) , 0 1px 1px 0 rgba(0,0,0,.14) , 0 2px 1px -1px rgba(0,0,0,.12);
margin-right: -59px;
padding-top: 10px;
margin-top: 17px;
font-size: 15px;
text-align: center;
/*cursor: pointer;*/
width: 107px;
border-radius: 3px;
height: 45px;
border: Indigo 2px solid;
}

.top_exams_section .top_exams_wrapper .card_body:hover{
  background-color: Indigo;
  color:white;
}






.top_exams_section .top_exams_wrapper .row_break
{
    margin: 1em;
}
@media screen and (max-width: 768px)
{
    .home_banner .banner_text
    {
      bottom: 1em;
      margin-bottom: -337px;

    }

    .links{
      background-color: white;

    }
    /*.home_banner{
      display: none;
    }*/
    .home_banner .banner_text .big_text
    {
      font-size: 1.5em;
    margin-left: 245px;
    margin-bottom: 9px;
    color: white;
    }

    .home_banner {
      background: linear-gradient(to right, #000000 14%, #003399 99%);
      width: auto;
    }

    .signupbox{
      top: -368px;
  position: relative;
  left: -205px;
    }

    .rows{
      padding-left: 50px;
    }

    .home_banner .banner_text .small_text
    {
      font-size: 14px;
      margin-left: 246px;
      width: 281px;
      margin-bottom: 597px;
    }
    .home_success_section .home_success_wrapper .section_video_wrapper
    {
        margin-bottom: 1em;
    }

    .home_success_section .home_success_wrapper .section_video_wrapper iframe
    {
        height: auto;
        width: 100%;
    }
    .home_success_section .home_success_wrapper .user_img_collection
    {
        margin-top: 2em;
    }
    .top_exams_section .top_exams_wrapper .card_body
    {
        margin-bottom: 1em;
    }
    .top_exams_section .top_exams_wrapper .row_break
    {
        margin: 0;
    }
    .top_exams_section .top_exams_wrapper
    {
        margin-left: 1.5em;
    }

}

/*@media (min-width: 768px) and (max-width: 1024px)*/




@media (min-width: 422px) and (max-width: 1232px)
{
  .links{
    background-color: white;

  }
    .top_exams_section .top_exams_wrapper .card_body
    {
        margin-right: 0.5em;
    }

    .home_success_section .home_success_wrapper .section_video_wrapper iframe
    {
        height: auto;
        width: 100%;
    }
    .home_banner .banner_text {
    margin-left: -232px;
    }
    .rows {
    margin-left:-6px;
    }
    #parent{
      padding-left:23px;
    }

}



.btns {
  background-color: #fff;
      margin-right: 16px;
      padding-top: 5px;
      margin-top: 17px;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
      width: 107px;
      border-radius: 3px;
      height: 45px;
      border: #003568 2px solid;
}

.rows{
  position: relative;
    margin-top: -126px;
}


.box {
  /*background: black;*/
      margin: 24px;
      margin-top: 64px;
      margin-bottom: -15px;
      margin-left: 15px;
      height: 128px;
      width: 232px;
      float: left;
      text-align: center;
      border: 1px dotted black;
      color: #161515;
      padding-top: 128px;
      font-size: 17px;
}
.spacer {
  clear: both;
  height: 70px;
}

.signupbox{
  background-color: white;
      width: 360px;
      margin-left: 801px;
      box-shadow: 10px 10px 100px #020a19;
      padding: 12px;
      padding-bottom: 25px;
      margin-bottom: -13px;
}

.facebook{
  background-color: #3b5998;
    width: 286px;
    height: 50px;
    position: relative;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: 26px;
    padding-top: 7px;
}
.social-text{
  font-size: 19px;
margin-left: 12px;
color:white;
}

.btn-success:hover{
  color:white;
  background-color:darkcyan;
}

.social-texts{
  font-size: 19px;
  margin-left: -2px;
  margin-top: -48px;
  color: white;
}



.active{
  background-color:#003568 ;
  color:white;
      outline: none;

}
.gp_url{
  margin-left: 1px;
}


.fblogo{
  width: 48px;
    height: 48px;
    position: absolute;
    margin-left: -47px;
    margin-top: -13px;
}

.google{
  background-color:DodgerBlue;
    width: 286px;
    height: 50px;
    position: relative;
    margin-bottom: 17px;
    font-size:18px;
    padding: 2px;
    padding-left: 1px;
    margin-left: 26px;
}

.googlelogo{
  width: 58px;
  height: 64px;
  margin-left: -237px;
  margin-top: -16px;
}
.form-group{
  position:relative;
}

.signup{
  margin-top: 13px;
    padding: 24px;
}

.submit{
  width: 289px;
      height: 49px;
      background-color: darkcyan;
      margin-left: -44px;
      margin-top: 1px;
}


.col-xs-6 .col-sm-6{
  margin-left: 0px;
}

.social_logins_container{

}

.form-control{
  width: 143%;
  margin-left: -39px;
  height: 45px;
}


@media screen and (max-width: 414px){

  .links{
    background-color: white;

  }
.signupbox{
  margin-left: 237px;
}
.home_banner .banner_text .big_text{
  display: none;
}
.banner_text .small_text{
  display: none;
}

#parent{
  margin-left:35px;
}
.home_banner{
  display: none;
}
}


@media screen and (max-width: 375px){
.signupbox{
  margin-left: 216px;
}

.home_banner .banner_text .big_text{
  /*display: none;*/
}
.banner_text .small_text{
  /*display: none;*/
}

.rows{
  padding-left:19px;
}

.home_banner{
  display: none;
}
.links{
  background-color: white;

}

}

@media screen and (max-width: 320px){

    .links{
      background-color: white;

    }
.signupbox{
  width: 325px;
      padding: 14px;
      padding-left: 24px;
}


.home_banner .banner_text .big_text{
  /*display: none;*/
}
.banner_text .small_text{
  /*display: none;*/
}

.rows{
  margin-left:-25px;
}
.home_banner{
  display: none;
}
}


#parent{
  margin-left:-24px;
}
}

@media screen and (max-width: 412px){

    .links{
      background-color: white;

    }
  .home_banner{
    display: none;
  }
  .signupbox{

  }
  .rows{
    margin-left:0px;
  }

}

@media screen and (max-width: 360px){

    .links{
    background-color: white;
    }
  .home_banner{
    display: none;
  }
  .signupbox{
        margin-left: 208px;

  }
}
